---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
	<nav>
		<h2><a href="/">⚡ The Optimization Guy</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">A propos</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<ThemeToggle />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	:global(.dark) header {
		background: rgb(17, 24, 39);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		flex: 1;
	}
	h2 a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	:global(.dark) h2 a {
		color: rgb(255, 255, 255);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
	}
	.internal-links {
		display: flex;
		gap: 1em;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.internal-links a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	:global(.dark) .internal-links a {
		color: rgb(255, 255, 255);
	}
	.internal-links a.active {
		text-decoration: none;
		border-bottom-color: rgb(var(--accent));
	}
	.social-links {
		flex: 1;
		display: flex;
		gap: 0.5em;
		justify-content: flex-end;
		align-items: center;
	}
	.social-links a {
		display: flex;
		padding: 0;
		border: none;
	}
	.social-links svg path {
		fill: rgb(0, 0, 0);
	}
	:global(.dark) .social-links svg path {
		fill: rgb(255, 255, 255);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
