---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
	<nav>
		<h2><a href="/">⚡ The Optimization Guy</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">A propos</HeaderLink>
		</div>
		<div class="social-links">
			<ThemeToggle />
			<a href="https://twitter.com/astrodotbuild" target="_blank">
				<span class="sr-only">Suivez-nous sur Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	:global(.dark) header {
		background: rgb(17, 24, 39);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		flex: 1;
	}
	h2 a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	:global(.dark) h2 a {
		color: rgb(255, 255, 255);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
	}
	.internal-links {
		display: flex;
		gap: 1em;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	:global(.dark) nav a {
		color: rgb(255, 255, 255);
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: rgb(var(--accent));
	}
	.social-links {
		flex: 1;
		display: flex;
		gap: 0.5em;
		justify-content: flex-end;
		align-items: center;
	}
	.social-links a {
		display: flex;
		color: rgb(var(--black));
	}
	:global(.dark) .social-links a {
		color: rgb(255, 255, 255);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
