---
import HeaderLink from './HeaderLink.astro';
---
<header>
	<nav>
		<h2><a href="/">The Optimization Guy</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a {
		text-decoration: none;
		color: var(--black);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
	}
	.internal-links {
		display: flex;
		gap: 1em;
	}
</style>
