---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
	<nav>
		<h2><a href="/">⚡ The Optimization Guy</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">A propos</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<ThemeToggle />
			<a href="https://www.reddit.com/user/Patient-Gene703/" target="_blank">
				<span class="sr-only">Reddit</span>
				<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
					<path
						fill="currentColor"
						d="M14.5 15.41c.15.15.15.38 0 .53-.54.54-1.39.8-2.5.8s-1.96-.26-2.5-.8a.37.37 0 0 1 0-.53c.15-.15.38-.15.53 0 .45.45 1.19.66 1.97.66s1.52-.21 1.97-.66c.15-.15.38-.15.53 0M9.25 12c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25m5.5 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25M22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2s10 4.48 10 10m-3.34-.5c0-.7-.57-1.27-1.27-1.27-.35 0-.67.14-.89.36-.99-.65-2.34-1.08-3.84-1.13l.73-2.3 1.97.46c.02.49.42.88.92.88.51 0 .92-.41.92-.92s-.41-.92-.92-.92c-.4 0-.73.24-.87.59l-2.22-.52c-.11-.03-.22.04-.25.15l-.82 2.56c-1.56.03-2.94.44-4.01 1.11-.23-.21-.54-.34-.88-.34-.7 0-1.27.57-1.27 1.27 0 .47.26.88.64 1.1-.04.15-.06.31-.06.47 0 1.65 2.08 2.98 4.64 2.98s4.64-1.33 4.64-2.98c0-.16-.02-.32-.06-.47.4-.22.68-.64.68-1.13"
					></path>
				</svg>
			</a>
			<a href="https://twitter.com/astrodotbuild" target="_blank">
				<span class="sr-only">Twitter</span>
				<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
					<path
						fill="currentColor"
						d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
					></path>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	:global(.dark) header {
		background: rgb(17, 24, 39);
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		flex: 1;
	}
	h2 a {
		text-decoration: none;
		color: rgb(var(--black));
	}
	:global(.dark) h2 a {
		color: rgb(255, 255, 255);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
	}
	.internal-links {
		display: flex;
		gap: 1em;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.internal-links a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	:global(.dark) .internal-links a {
		color: rgb(255, 255, 255);
	}
	.internal-links a.active {
		text-decoration: none;
		border-bottom-color: rgb(var(--accent));
	}
	.social-links {
		flex: 1;
		display: flex;
		gap: 0.5em;
		justify-content: flex-end;
		align-items: center;
	}
	.social-links a {
		display: flex;
		padding: 0;
		border: none;
	}
	.social-links svg path {
		fill: rgb(0, 0, 0);
	}
	:global(.dark) .social-links svg path {
		fill: rgb(255, 255, 255);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
